# folders
**/__mocks__/**
**/__tests__/**
node_modules/
example/
coverage/
media/
src/
docs/

# configs
.github
.vscode
.env
.editorconfig
.gitattributes
.eslintignore
.eslintrc
.huskyrc
.prettierignore
.prettierrc
.changelogrc.yml
codegen.yml
.ghinfo
jest.config.js
tsconfig.json
typedoc.json

# docs
CHANGELOG.md
CODE_OF_CONDUCT.md

